[submodule "board/de10-nano/software/bootloader/u-boot-socfpga"]
	path = board/de10-nano/software/bootloader/u-boot-socfpga
	url = https://github.com/altera-opensource/u-boot-socfpga
[submodule "ossc_pro"]
	path = ossc_pro
	url = git@github.com:marqs85/ossc_pro.git
	branch = vip_test
[submodule "sw_common/sys_controller/bscanf"]
	path = sw_common/sys_controller/bscanf
	url = git@github.com:marqs85/bscanf.git
